body {
  background-image: url(/static/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1{
  padding: 0px;
  text-align: center;
  margin-left: 100px;
}

.navbar {
  background-color: #0B666A;
  color: white;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-height: 40px;
  margin-left: 30px;
}

.navbar-button {
  background-color: #0B666A;
  color: white;
  padding: 10px 10px;
  margin-right: 30px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.navbar-button:hover {
  background-color: #2D4356;
}

.heading {
  text-align: center; 
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 0 auto 20px; 
  max-width: 80%; 
}

#login-button{
  background-color: #0B666A;
  color: white;
  padding: 10px 10px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.center-container {
  display: flex;
  justify-content: center;
  
  height: 100%;
}  


form{
  border: 5px solid #0B666A;
  padding: 25px;
  margin: 25px;
  box-shadow: 0 2px 5px #2D4356; 
  background: #F8F0E5; 
  width: 25em;
  padding: 1em;
  
}

.form-group {
  display: flex;
  
}

.form-group label {
  width: 100%;
  text-align: left;
  margin-left: 20px;
  flex-direction: column;
}

.form-select{
  
    width: 45%;
    text-align: center;
    flex-direction: column;
    margin-right: 20px;
  
}

.footer {
  background-color: #0B666A;
  color: white;
  text-align: center;
  padding: 1px 0;
  width: 100%;
  flex-shrink: 0; 
}
